# Local development files
deprecated/
experiments/
todo.txt
LibbyDB.egg-info
.venv

# Local tests (because they require secret keys!)
src/libbydb/utils/test_utils.py


# Local cache
__pycache__/

# Secrets
.env

# Ignore local logs
/logs/sql_logs.log

# Data simulation
data_simulation_utils/
generate_new_instances.py

# Pulled data
data.xlsx
make_excel_for_Tableau.py